@tailwind base;
@tailwind components;
@tailwind utilities;

.border-b-transition {
  position: relative;
  transition: border-bottom 0.5s ease-in-out;
}

.border-b-transition::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.5s ease-in-out;
}

.border-b-transition:hover::after {
  background-color: red;
}
